<div class="user_info">
  <h1>ユーザー詳細ページ</h1>
  <div class="user_info_contents">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </div>
</div>
  <div class="history" style="height: 100%;">
    <p>今までに回答した質問</p>
    <div class="history_contents" style="display: flex; ">
      <div class="answers" style="font-size: 2em; font-weight: bold;">
        <% @answers.each do |answer| %>
          <%= answer.content %>
        <% end %>
      </div>
      <div class="questions" style="text-align: left;">
        <% @questions.each do |question| %>
          <%= question.title %>
        <% end %>
      </div>
    </div>
  </div>
</div>
